<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>吉利学院劳动教育平台</title>
  <link rel="shortcut icon" href="../static/img/head2.png" type="image/x-icon">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
</head>
<body>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header" id="headername">
    <ul class="layui-nav ">
      <li class="layui-nav-item "><a href="college_index.html">首页</a></li>
      <li class="layui-nav-item layui-this"><a href="college_stuList.html">学生信息</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="../static/img/head.png" class="layui-nav-img">
          {{user.userName}}
        </a>

      </li>
      <li class="layui-nav-item"><a href="../../login.html">退出</a></li>
    </ul>
  </div>
</div>
<div class="con" style="margin-top: 70px;margin-left:2%;margin-right:2%;">
  <template>

    <div class="flex-between flex-align" style="display: flex;
                          justify-content: flex-start;
                          align-items: center;
                          gap: 30px;">
      <button type="button" class="el-button el-button--primary el-button--medium" @click="lead()"><span>下载学生信息</span></button>
      <el-upload
              action="/users/import"
              :file-list="fileList"
              :on-success="handleSuccess"
              :on-error="handleError"
              :on-remove="handleRemove">
        <el-button>点击上传</el-button>
      </el-upload>
    </div>
    <div style="margin-top: 10px;">
      <el-form @submit="handleSubmit" ref="searchForm" :model="formData">
        <el-row>
          <el-col :span="8">
            <el-input v-model="formData.keyword" placeholder="请输入搜索关键字"></el-input>
          </el-col>
          <el-col :span="4" :offset="4">
            <el-button type="primary" native-type="submit">搜索</el-button>
          </el-col>
        </el-row>
      </el-form>
    </div>
    <div style="margin-top: 20px;">
      <el-table ref="multipleTable1"
                :data="tableData.filter(data => {
                return (!search || data.major.toLowerCase().includes(search.toLowerCase())) ||
                       (!search || data.unit.toLowerCase().includes(search.toLowerCase())) ||
                       (!search || data.classId.toLowerCase().includes(search.toLowerCase()));
              })"
                max-height="100%">
        <el-table-column prop="userId" label="学号" >
          <template slot-scope="scope">
            {{ scope.row.userId }}
          </template>
        </el-table-column>
        <el-table-column prop="userName" label="姓名" >
          <template slot-scope="scope">
            {{ scope.row.userName }}
          </template>
        </el-table-column>
        <el-table-column prop="unit" label="学院" >
          <template slot-scope="scope">
            {{ scope.row.unit }}
          </template>
        </el-table-column>
        <el-table-column prop="grade" label="年级" >
          <template slot-scope="scope">
            {{ scope.row.grade }}
          </template>
        </el-table-column>
        <el-table-column prop="major" label="专业" >
          <template slot-scope="scope">
            {{ scope.row.major }}
          </template>
        </el-table-column>
        <el-table-column prop="classId" label="班级" >
          <template slot-scope="scope">
            {{ scope.row.classId }}
          </template>
        </el-table-column>
        <el-table-column prop="politics" label="政治面貌" >
          <template slot-scope="scope">
            {{ scope.row.politics }}
          </template>
        </el-table-column>
        <el-table-column prop="phone" label="联系方式" >
          <template slot-scope="scope">
            {{ scope.row.phone }}
          </template>
        </el-table-column>
        <el-table-column prop="email" label="邮箱" >
          <template slot-scope="scope">
            {{ scope.row.email }}
          </template>
        </el-table-column>
        <el-table-column prop="type" label="本科类型" >
          <template slot-scope="scope">
            {{ scope.row.type }}
          </template>
        </el-table-column>
        <el-table-column prop="adId" label="辅导员" >
          <template slot-scope="scope">
            {{ scope.row.adId }}
          </template>
        </el-table-column>
        <el-table-column
                align="right">
          <template slot="header" slot-scope="scope">
            <el-input
                    v-model="search"
                    size="mini"
                    placeholder="输入关键字搜索"/>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </template>
</div>
</body>
</html>

<script src="../static/layui/layui.js" charset="utf-8"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/axios-0.18.0.js"></script>
<script src="../static/js/axios-0.18.0.js"></script>
<script src="../static/js/vue.js"></script>
<script src="../static/element-ui/package/lib/index.js"></script>
<link rel="stylesheet" href="../static/element-ui/package/lib/theme-chalk/index.css">
<link rel="stylesheet" type="text/css" href="../static/css/task_detail.css">

<script>
 let tableVue = new Vue({
    el: ".con",
    methods: {
          lead(){
            // 获取el-table的实例
            const tableInstance = this.$refs.multipleTable1;

            // 获取el-table中显示的数据
            const visibleData = tableInstance.store.states.data;

            // 创建表格内容
            let tableContent = "<table>";

            // 添加表头
            const headers = ['userName', 'userId', 'unit', 'major', 'classId'];
            const headersA = ['学号', '姓名', '学院', '年级', '专业', '班级', '政治面貌', '联系方式', '邮箱', '本科类型', '辅导员'];
            tableContent += "<tr>" + headersA.map(header => `<th>${header}</th>`).join("") + "</tr>";

            // 添加表格数据
            for (const row of visibleData) {
              tableContent += "<tr>" + headers.map(header => `<td>${row[header]}</td>`).join("") + "</tr>";
            }

            tableContent += "</table>";

            // 创建Blob对象
            const blob = new Blob([tableContent], { type: "application/vnd.ms-excel" });

            // 创建下载链接
            const link = document.createElement("a");
            link.href = URL.createObjectURL(blob);
            link.download = "学生信息表.xls";
            link.click();
          },
          handleSuccess(response, file) {
            // 上传成功的处理逻辑
            this.$message.success('文件上传成功');
            // 可以根据需要使用服务器返回的响应数据进行后续操作
          },
          handleError(error, file) {
            // 上传失败的处理逻辑
            this.$message.error('文件上传失败');
          },
          handleRemove(file, fileList) {
            // 删除文件的处理逻辑
            this.$message.warning('文件已删除');
            // 可以根据需要进行其他操作，如清空已上传的文件列表等
            this.fileList = [];
          },
          handleSubmit() {
            // 提交表单时将搜索框中的关键字传递给后端
            // 可以通过 formData.keyword 获取搜索框的值
            // 在这里执行提交操作，如发送请求到后端
            console.log(this.formData.keyword);
            axios({
                    method: 'post',
                    url: '/users/condition',
                    data: this.formData.keyword,
                }).then(function (response) {
                    console.log(response.data);
                    _this.tableData = response.data
                }).catch(function (error) {
                    console.error(error);
                    alert('链接失败' + error)
                });
            this.$refs.searchForm.resetFields(); // 提交后可以重置表单
          },
    },
    data() {
      return {
        tableData: [],
        search: '',
        fileList: [],
        formData: {
        keyword: ""
      },
      }
    },

    mounted(){
            //当页面加载完成后来发送异步请求获取数据
            let _this = this;
            $.ajax({
               url: '/users',
               type: 'GET', // 请求类型（GET/POST等）
               dataType: 'json', // 期望的响应数据类型
               success: function(response) {
                   // 请求成功时的回调函数
                   // 处理响应数据
                   console.log(response);
                   _this.tableData = response.data
               }
           });
    },
  })
</script>

<script>
    let userName = new Vue({
        el: "#headername",
        data(){
            return{
                user:{
                    userName:'学院管理员',
                },
            }
        },
        mounted(){
            //当页面加载完成后来发送异步请求获取数据
            var _this = this;
            axios({
                method:"get",
                url:"/users/session/1",
            }).then(function (resp){
                _this.user = resp.data.data;
            })
        },
    })
</script>