*{
    margin: 0;
    padding: 0;
}
.header{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}
.wrapperBox{
    width: 1229px;
    height: 645px;
    background-color:#f0ece9 ;
    margin: 0 auto;
}

.headerButton{
    width: 205px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
}
.container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

/*.pageInformation{*/
/*    width: 226px;*/
/*    height: 79px;*/
/*    background-color: blue;*/
/*    float: left;*/
/*}*/
/**/
.pageButton{
    width: 190px;
    height: 79px;
    line-height: 79px;
    float: right;

}
#addButton{
    width: 93px;
    height: 38px;
    background-color: #84bf96;
    border: 1px solid #ffffff;
    color: #fff;
    cursor: pointer;
}
#deleteButton{
    width: 93px;
    height: 38px;
    background-color: #a1a3a6;
    border: 1px solid #ffffff;
    color: #fff;
    margin-left: 14px;
    cursor: pointer;
}
#addButton:hover, #deleteButton:hover{
    background: #d3d7d4;
}
#prePageButton{
    width: 88px;
    height: 38px;
    background-color: #84bf96;
    border: 1px solid #ffffff;
    color: #fff;
    cursor: pointer;
}
#nextPageButton{
    width: 88px;
    height: 38px;
    background-color: #a1a3a6;
    border: 1px solid #ffffff;
    margin-left: 9px;
    color: #fff;
    cursor: pointer;
}
#prePageButton:hover{
    background: #d3d7d4;
}
#nextPageButton:hover{
    background: #d3d7d4;
}
.viewInf ,.updateInf{
    color: #000000;
    cursor: pointer;
}
.updateInf{
    margin-left: 9px;
}
.container table{
    border-collapse: collapse;
    width: 100%;
}
.container td{
    height: 40px;
}
.tableHeaher{
    height: 55px;
    background-color: #dadee1;
}
tr.trHover:hover{
    background-color: 	#48D1CC;
}

/*cintainerStyle  */
i{font-style: normal;}
td{
    height: 40px;
}


#addmodal{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.5);
    display: none;
}
#viewmodal{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.5);
    display: none;
    margin: auto;
}
#movemodal{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.5);
    display: none;
    margin: auto;
}
.modal-dialog{
    position: relative;
    width: 500px;
    margin: 0px auto;
    background: white;
    border-radius: 5px;
}
.modal-header {
    border-bottom: 1px solid #e5e5e5;

    color: #fff;

    background-color: #555;

    height: 40px;

    line-height: 40px;

    padding-left: 20px;
}
.modal-body {
    position: relative;
    text-align: center;
}
.modal-body input{
    width: 202px;
    border: 1px solid #a9a9a9;
    outline: none;
    margin: 10px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.addButton_no, .addButton_ok{
    width: 93px;
    height: 38px;
    border-radius: 4px;
    background: #fff;
    color: #808080;
    outline: none;
    cursor: pointer;
    border: 1px solid #aeaeae;
}
.addButton_no:hover, .addButton_ok:hover{
    background: #d3d7d4;
}
.pageInformation{
    width: 226px;
    height: 16px;
    padding-top: 29px;
    font-size: 15px;
    line-height: 16px;
    float: left;
}

.updatabtn_ok{
    width: 93px;
    height: 38px;
    border-radius: 4px;
    background: #fff;
    color: #808080;
    outline: none;
    cursor: pointer;
    border: 1px solid #aeaeae;
}
.updatabtn_no{
    width: 93px;
    height: 38px;
    border-radius: 4px;
    background: #fff;
    color: #808080;
    outline: none;
    cursor: pointer;
    border: 1px solid #aeaeae;
}
.updatabtn_ok:hover, .updatabtn_no:hover{
        background: #d3d7d4;
}

#select_file{
  border:0px;
  display:none;
}
