<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>吉利学院劳动教育平台</title>
    <link rel="shortcut icon" href="../static/img/head2.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/task.css">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../layui/css/layui.css" media="all">
    <meta name="renderer" content="webkit">
</head>
<body>

<div class="layui-layout layui-layout-admin">
    <div class="layui-header" id="headername">
        <ul class="layui-nav ">
            <li class="layui-nav-item "><a href="">首页</a></li>
            <li class="layui-nav-item layui-this"><a href="">批阅列表</a></li>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="../static/img/head.png" class="layui-nav-img">
                        {{user.adName}}
                    </a>

                </li>
                <li class="layui-nav-item"><a href="../../login.html">退出</a></li>
            </ul>
        </ul>
    </div>
</div>

<div class="con" style="margin-top: 70px;margin-left:15%;margin-right:15%;">
    <div style="display: flex;flex-direction: column;">
        <div style="font-size: 20px;font-family: PingFangSC,PingFangSC-Medium;font-weight: 500;text-align: left;color: #3c4043;">
            第一次作业
        </div>
    </div>
    <div style="height: 24px;padding: 0 8px;line-height: 22px;background-color: #ecf3fe;border-color: #d9e7fd;display: inline-block;height: 32px;padding: 0 10px;
    line-height: 30px;margin-top: 8px;
    margin-bottom: 15px;
    font-size: 12px;
    color: #4285f4;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: nowrap;">
        截止：2023-7-17
    </div>
    <div style="width: 100%; height: 1px; background-color: #ccc;"></div>
    <div>
        <template>
            <el-tabs v-model="activeName" @tab-click="handleClick">
                <el-tab-pane :label="`全部（${detail_data.totalCount}）`" name="first">
                    <div class="flex-between flex-align" style="display: flex;
                          justify-content: flex-start;
                          align-items: center;
                          gap: 30px;">
                        <button type="button" class="el-button el-button--primary el-button--medium" @click="load()"><span>下载表格</span></button>
                    </div>
                    <div style="width: 100%; height: 1px; background-color: #ccc; margin-top: 15px;"></div>
                    <el-table
                            ref="multipleTable"
                            :data="tableData_1"
                            tooltip-effect="dark"
                            style="width: 100%"
                            @selection-change="handleSelectionChange">
                        <el-table-column
                                type="selection"
                                min-width="5%">
                        </el-table-column>
                        <el-table-column
                                prop="logName"
                                label="姓名"
                                min-width="10%">
                            <template slot-scope="scope">{{ scope.row.logName }}</template>
                        </el-table-column>
                        <el-table-column
                                prop="userId"
                                label="学号"
                                min-width="20%">
                        </el-table-column>
                        <el-table-column
                                prop="logClasses"
                                label="班级"
                                min-width="15%">
                        </el-table-column>
                        <el-table-column
                                prop="logState"
                                label="提交状态"
                                min-width="10%">
                        </el-table-column>
                        <el-table-column
                                prop="logTime"
                                label="提交时间"
                                min-width="15%">
                        </el-table-column>
                        <el-table-column
                                prop="logScore"
                                label="成绩"
                                min-width="10%">
                        </el-table-column>
                        <el-table-column
                                fixed="right"
                                label="操作"
                                min-width="15%">
                            <template slot-scope="scope">
                                <el-button v-if="scope.row.logState !== 3" @click="check(scope.row)" type="text" size="medium">批阅</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-tab-pane>
                <el-tab-pane :label="`待批阅（${detail_data.state3Count}）`" name="second">
                    <div class="flex-between flex-align" style="display: flex;
                          justify-content: flex-start;
                          align-items: center;
                          gap: 30px;">
                        <el-dropdown>
                            <el-button class="el-select-button">
                                <span>批量给分 <i class="el-icon-caret-bottom el-icon--right"></i></span>
                            </el-button>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item v-for="option in options" :key="option" @click.native="selectOption(option)">
                                    {{ option }}
                                </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                        <button type="button" class="el-button el-button--primary el-button--medium is-plain" @click="refuse()">
                            <span>打回修改</span>
                        </button>
                        <button type="button" class="el-button el-button--primary el-button--medium" @click="load()"><span>下载表格</span></button>
                    </div>
                    <div style="width: 100%; height: 1px; background-color: #ccc; margin-top: 15px;"></div>
                    <el-table
                            ref="multipleTable"
                            :data="tableData_2"
                            tooltip-effect="dark"
                            style="width: 100%"
                            @selection-change="handleSelectionChange">
                        <el-table-column
                                type="selection"
                                min-width="5%">
                        </el-table-column>
                        <el-table-column
                                prop="logName"
                                label="姓名"
                                min-width="10%">
                            <template slot-scope="scope">{{ scope.row.logName }}</template>
                        </el-table-column>
                        <el-table-column
                                prop="userId"
                                label="学号"
                                min-width="20%">
                        </el-table-column>
                        <el-table-column
                                prop="logClasses"
                                label="班级"
                                min-width="15%">
                        </el-table-column>
                        <el-table-column
                                prop="logState"
                                label="提交状态"
                                min-width="10%">
                        </el-table-column>
                        <el-table-column
                                prop="logTime"
                                label="提交时间"
                                min-width="15%">
                        </el-table-column>
                        <el-table-column
                                prop="logScore"
                                label="成绩"
                                min-width="10%">
                        </el-table-column>
                        <el-table-column
                                fixed="right"
                                label="操作"
                                min-width="15%">
                            <template slot-scope="scope">
                                <el-button  @click="check(scope.row)" type="text" size="medium">批阅</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-tab-pane>
                <el-tab-pane :label="`已通过（${detail_data.state1Count}）`" name="third">
                    <div class="flex-between flex-align" style="display: flex;
                          justify-content: flex-start;
                          align-items: center;
                          gap: 30px;">
                        <button type="button" class="el-button el-button--primary el-button--medium" @click="load()"><span>下载表格</span></button>
                    </div>
                    <div style="width: 100%; height: 1px; background-color: #ccc; margin-top: 15px;"></div>
                    <el-table
                            ref="multipleTable"
                            :data="tableData_3"
                            tooltip-effect="dark"
                            style="width: 100%"
                            @selection-change="handleSelectionChange">
                        <el-table-column
                                type="selection"
                                min-width="5%">
                        </el-table-column>
                        <el-table-column
                                prop="logName"
                                label="姓名"
                                min-width="10%">
                            <template slot-scope="scope">{{ scope.row.logName }}</template>
                        </el-table-column>
                        <el-table-column
                                prop="userId"
                                label="学号"
                                min-width="20%">
                        </el-table-column>
                        <el-table-column
                                prop="logClasses"
                                label="班级"
                                min-width="15%">
                        </el-table-column>
                        <el-table-column
                                prop="logState"
                                label="提交状态"
                                min-width="10%">
                        </el-table-column>
                        <el-table-column
                                prop="logTime"
                                label="提交时间"
                                min-width="15%">
                        </el-table-column>
                        <el-table-column
                                prop="logScore"
                                label="成绩"
                                min-width="10%">
                        </el-table-column>
                        <el-table-column
                                fixed="right"
                                label="操作"
                                min-width="15%">
                            <template slot-scope="scope">
                                <el-button v-if="scope.row.logState !== 3" @click="check(scope.row)" type="text" size="medium">批阅</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-tab-pane>
                <el-tab-pane :label="`待完成（${detail_data.state0Count}）`" name="fourth">
                    <div class="flex-between flex-align" style="display: flex;
                          justify-content: flex-start;
                          align-items: center;
                          gap: 30px;">
                        <button type="button" class="el-button el-button--primary el-button--medium" @click="notice()"><span>一键催交</span></button>
                        <button type="button" class="el-button el-button--primary el-button--medium" @click="load()"><span>下载表格</span></button>
                    </div>
                    <div style="width: 100%; height: 1px; background-color: #ccc; margin-top: 15px;"></div>
                    <el-table
                            ref="multipleTable"
                            :data="tableData_4"
                            tooltip-effect="dark"
                            style="width: 100%"
                            @selection-change="handleSelectionChange">
                        <el-table-column
                                type="selection"
                                min-width="5%">
                        </el-table-column>
                        <el-table-column
                                prop="logName"
                                label="姓名"
                                min-width="10%">
                            <template slot-scope="scope">{{ scope.row.logName }}</template>
                        </el-table-column>
                        <el-table-column
                                prop="userId"
                                label="学号"
                                min-width="20%">
                        </el-table-column>
                        <el-table-column
                                prop="logClasses"
                                label="班级"
                                min-width="15%">
                        </el-table-column>
                        <el-table-column
                                prop="logState"
                                label="提交状态"
                                min-width="10%">
                        </el-table-column>
                        <el-table-column
                                prop="logTime"
                                label="提交时间"
                                min-width="15%">
                        </el-table-column>
                        <el-table-column
                                prop="logScore"
                                label="成绩"
                                min-width="10%">
                        </el-table-column>
                        <el-table-column
                                fixed="right"
                                label="操作"
                                min-width="15%">
                            <template slot-scope="scope">
                                <el-button v-if="scope.row.logState !== 3" @click="check(scope.row)" type="text" size="medium">批阅</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-tab-pane>
            </el-tabs>
        </template>
    </div>
</div>
<!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
<script src="../../layui/layui.js" charset="utf-8"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/axios-0.18.0.js"></script>
<script src="../static/js/vue.js"></script>
<script src="../static/element-ui/package/lib/index.js"></script>
<link rel="stylesheet" href="../static/element-ui/package/lib/theme-chalk/index.css">
<link rel="stylesheet" type="text/css" href="../static/css/task_detail.css">
<script>
function getUrlSearch(name) {
            // 未传参，返回空
            if (!name) return null;
            // 查询参数：先通过search取值，如果取不到就通过hash来取
            let after = window.location.search;
            after = after.substr(1) || window.location.hash.split('?')[1];
            // 地址栏URL没有查询参数，返回空
            if (!after) return null;
            // 如果查询参数中没有"name"，返回空
            if (after.indexOf(name) === -1) return null;

            let reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)');
            // 当地址栏参数存在中文时，需要解码，不然会乱码
            let r = decodeURI(after).match(reg);
            // 如果url中"name"没有值，返回空
            if (!r) return null;

            return r[2];
        }
  let className = getUrlSearch("className")
  let listType = getUrlSearch("listType")
  let totalCount = getUrlSearch("totalCount")
  let state0Count = getUrlSearch("state0Count")
  let state1Count = getUrlSearch("state1Count")
  let state3Count = getUrlSearch("state3Count")
  let num;
       if (listType === "日常生活劳动日志") {
          num = 1;
       } else if(listType === "服务性劳动日志"){
          num = 2;
       }else if(listType === "生产劳动日志"){
          num = 3;
       }else if(listType === "社会实践活动登记表"){
          num = 4;
       }else if(listType === "社会实践活动日志"){
          num = 5;
       }else if(listType === "社会实践调查报告"){
          num = 6;
       }
  let tabVue = new Vue({
    el: ".con",
    data() {
      return {
      detail_data:{
        className: className,
        listType: num,
        totalCount: totalCount,
        state0Count: state0Count,
        state1Count: state1Count,
        state3Count: state3Count
      },
        activeName: 'first',
        tableData_1: [],
        tableData_2: [],
        tableData_3: [],
        tableData_4: [],
        multipleSelection: [],
        selectedOption: '',  // 当前选中的选项
        options: ['区间给分', '统一给分']  // 选项列表
      }
    },
    methods: {
      check(row){
          let _this = this;
          let reUrl = 'review_interface.html?userId='+ row.userId + '&listType=' + _this.detail_data.listType;
          window.location.href = reUrl;
      },
      notice(){
        alert("催交")
      },
      load(){
        alert("下载表格")
      },
      refuse(){
                let selectedItems = this.multipleSelection;
                  console.log(selectedItems)
                  for (let item of selectedItems) {
                     item.logState = 2; // 修改选中的行数据
                  }
                  console.log(selectedItems)
                  axios({
                    method:"put",
                    url:"/logs/score",
                    data: selectedItems,
                    }).then(response => {
                        // 处理成功响应
                        console.log(response.data);
                      })
                      .catch(error => {
                        // 处理错误
                        console.error(error);
                      });
      },
      handleClick(tab, event) {
        console.log(tab, event);
      },
      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },
      handleSelectionChange(val) {
        this.multipleSelection = val;
        console.log('选中项发生变化:', this.multipleSelection);
      },
      selectOption(option) {
         if (option === '区间给分') {
              let range = prompt("请输入数字区间，格式为：最小值-最大值");
              if(range){
                  alert("填写内容并“确定”")
                  let [min, max] = range.split('-').map(Number);
                  let selectedItems = this.multipleSelection;
                  console.log(selectedItems)
                  for (let item of selectedItems) {
                     let randomNum = Math.floor(Math.random() * (max - min + 1)) + min;
                     console.log(randomNum)
                     item.logScore = randomNum; // 修改选中的行数据
                  }
                  console.log(selectedItems)
                  axios({
                    method:"put",
                    url:"/logs/score",
                    data: selectedItems,
                    }).then(response => {
                        // 处理成功响应
                        console.log(response.data);
                      })
                      .catch(error => {
                        // 处理错误
                        console.error(error);
                      });
                }
                else if(range === ""){
                     alert("未填写但“确定”")
                }
                else{
                    alert("“取消”事件")
                }
            } else if (option === '统一给分') {
              let num = prompt("请输入一个分数");
              if(num){
                  alert("填写内容并“确定”")
                  let selectedItems = this.multipleSelection; // 获取选中的行数据
                  for (let item of selectedItems) {
                     item.logScore = num; // 修改选中的行数据
                  }
                  axios({
                    method:"put",
                    url:"/logs/score",
                    data: selectedItems,
                    }).then(response => {
                        // 处理成功响应
                        console.log(response.data);
                      })
                      .catch(error => {
                        // 处理错误
                        console.error(error);
                      });
                }
                else if(num === ""){
                     alert("未填写但“确定”")
                }
                else{
                    alert("“取消”事件")
                }
            } else {
              console.log("无效的选项");
         }
      },
    },
    mounted(){
            //当页面加载完成后来发送异步请求获取数据
            let _this = this;
            axios({
                method:"get",
                url:"/logs/classType/" + _this.detail_data.className + '/' + _this.detail_data.listType,
            }).then(function (resp){
                let num = resp.data.data.length
                    for(let i = 0; i < num; i++){
                        var date = new Date(resp.data.data[i].logTime); // 使用毫秒时间创建Date对象
                        var year = date.getFullYear(); // 年份
                        var month = date.getMonth() + 1; // 月份（注意需要加1，因为月份从0开始）
                        var day = date.getDate(); // 日期
                        // 格式化输出时间
                        var formattedTime = year + "-" + padZero(month) + "-" + padZero(day)
                        console.log(formattedTime); // 输出格式化后的时间字符串
                        // 在分钟、小时和秒钟不满两位数时，在其前面补零
                        function padZero(number) {
                            return number < 10 ? "0" + number : number;
                        }
                        resp.data.data[i].logTime = formattedTime
                        _this.tableData_1.push(resp.data.data[i]);
                    }
                _this.tableData_2 = _this.tableData_1.filter(item => item.logState === 3);
                _this.tableData_3 = _this.tableData_1.filter(item => item.logState === 1);
                _this.tableData_4 = _this.tableData_1.filter(item => item.logState === 0);
                console.log(_this.tableData_1)
                console.log(_this.tableData_2)
                console.log(_this.tableData_3)
                console.log(_this.tableData_4)
            })
        },

  });
</script>
<script>
    let userName = new Vue({
        el: "#headername",
        data(){
            return{
                user:{
                    adName:'测试',
                },
            }
        },
        mounted(){
            //当页面加载完成后来发送异步请求获取数据
            let _this = this;
            axios({
                method:"get",
                url:"/users/session/2",
            }).then(function (resp){
                _this.user = resp.data.data;
            })
        },
    })
</script>
</body>
</html>