<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>吉利学院劳动教育平台</title>
    <link rel="shortcut icon" href="../static/img/head2.png" type="image/x-icon">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" id="headername">
<ul class="layui-nav ">
    <li class="layui-nav-item layui-this"><a href="task_list.html">首页</a></li>
</ul>
<ul class="layui-nav layui-layout-right">
    <li class="layui-nav-item">
        <a href="javascript:;">
            <img src="../static/img/head.png" class="layui-nav-img">
            {{user.userName}}
        </a>

    </li>
    <li class="layui-nav-item"><a href="../../login.html">退出</a></li>
</ul>
    </div>
</div>
<div class="con" style="margin-top: 70px;margin-left:15%;margin-right:15%;">
<!--面板显示信息及通知-->
<div class="layui-bg-gray" style="padding: 16px;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header" style="font-size: larger;" >学生信息表</div>
                <div class="layui-card-body" id="demo1">
                     <!--需修改为从数据库提取信息-->
                    <table>
                        <tr>
                            <td>姓名：</td>
                            <td>张三</td>
                        </tr>
                        <tr>
                            <td>所在学院：</td>
                            <td>智能科技学院</td>
                        </tr>
                        <tr>
                            <td>所在班级：</td>
                            <td>2021级数据科学与大数据技术（本科）1班</td>
                        </tr>
                        <tr>
                            <td>学号：</td>
                            <td id="user_id">211123110926</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header" style="font-size: larger;">系统通知</div>
                <div class="layui-card-body" id="demo2">
                    <!--需修改为数据库提取信息-->
                    <table>
                        <tr>
                            <td>学院的通知</td>
                        </tr>
                        <tr>
                            <td>学校的通知</td>
                        </tr>
                        <tr>
                            <td>作业截止时间为</td>
                        </tr>
                        <tr>
                            <td>你的作业为全部完成，请尽快完成</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header" style="font-size: larger;" >任务信息表</div>
            <div class="layui-card-body">
<template>
    <el-table
            :data="tableData"
            style="width: 100%"
            :default-sort = "{prop: 'date', order: 'descending'}"
            max-height="1000">
        <el-table-column
                fixed
                prop="listType"
                label="任务名称"
                min-width="50%">
        </el-table-column>
        <el-table-column
                prop="listState"
                label="状态"
                min-width="20%"
                :filters="[{ text: '待完成', value: '待完成' }, { text: '已通过', value: '已通过' }, { text: '待评阅', value: '待评阅' },{ text: '打回待修改', value: '打回待修改' },{ text: '编辑中', value: '编辑中' }]"
                :filter-method="filterState"
                filter-placement="bottom-end">
            <template slot-scope="scope">
                <el-tag v-for="item in listState" v-show="scope.row.listState == item.label" :key="item.label" :type="item.cssName" >
                    {{item.label}}
                </el-tag>
            </template>
        </el-table-column>
        <el-table-column
                prop="listTime"
                label="发布时间"
                sortable
                min-width="20%">
        </el-table-column>
        <el-table-column
                fixed="right"
                label="操作"
                min-width="10%">
            <template slot-scope="scope">
                <el-button v-if="scope.row.listState === '待完成'" name="button1" @click="changeEdit(scope.row)" type="text" size="medium">编辑</el-button>
                <el-button v-if="scope.row.listState === '待评阅'" name="button2" @click="changeCheck(scope.row)" type="text" size="medium">查看</el-button>
                <el-button v-if="scope.row.listState === '已通过'" name="button3" @click="changeCheck(scope.row)" type="text" size="medium">查看</el-button>
                <el-button v-if="scope.row.listState === '打回待修改'" name="button4" @click="changeEdit(scope.row)" type="text" size="medium">编辑</el-button>
                <el-button v-if="scope.row.listState === '编辑中'" name="button5" @click="changeEdited(scope.row)" type="text" size="medium">编辑</el-button>
            </template>
        </el-table-column>
    </el-table>
</template>
            </div>
        </div>
    </div>
</div>
</div>
<!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
<script src="../static/layui/layui.js" charset="utf-8"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/axios-0.18.0.js"></script>
<script src="../static/js/axios-0.18.0.js"></script>
<script src="../static/js/vue.js"></script>
<script src="../static/element-ui/package/lib/index.js"></script>
<link rel="stylesheet" href="../static/element-ui/package/lib/theme-chalk/index.css">
<link rel="stylesheet" type="text/css" href="../static/css/task_detail.css">
<style>
.popup {
  position: fixed; /* 绝对定位，使其保持在固定位置 */
  top: 50%; /* 距离顶部的距离 */
  left: 50%; /* 距离左边的距离 */
  transform: translate(-50%, -50%); /* 使其居中 */
  background-color: white; /* 弹窗背景颜色 */
  padding: 10px; /* 弹窗内边距 */
  border: 1px solid black; /* 弹窗边框 */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* 弹窗阴影效果 */
  z-index: 999; /* 堆叠顺序，使其始终在顶部 */
  font-size: 16px; /* 文字大小 */
  width: 300px; /* 弹窗宽度 */
}

.popup::before {
  content: ''; /* 使用伪元素创建箭头 */
  position: absolute;
  top: -10px; /* 位于弹窗上方 */
  left: 50%;
  transform: translateX(-50%); /* 使箭头居中 */
  width: 0;
  height: 0;
  border-left: 10px solid transparent; /* 左侧三角形 */
  border-right: 10px solid transparent; /* 右侧三角形 */
  border-bottom: 10px solid white; /* 底部三角形 */
}
</style>
<script>
    // 用户信息异步请求
    // 弹窗点击事件
    function showPopup(title, content) {
      // 创建弹窗
      let popup = document.createElement('div');
      popup.classList.add('popup');

      // 设置弹窗标题
      let popupTitle = document.createElement('h3');
      popupTitle.innerText = title;
      popup.appendChild(popupTitle);

      // 设置弹窗内容
      let popupContent = document.createElement('p');
      popupContent.innerText = content;
      popup.appendChild(popupContent);

      // 创建确定按钮
      let confirmButton = document.createElement('button');
      confirmButton.innerText = '确定';
      confirmButton.addEventListener('click', function() {
        // 关闭弹窗
        popup.remove();
      });
      popup.appendChild(confirmButton);

      // 将弹窗添加到body元素中
      document.body.appendChild(popup);
    }
        // 使用XMLHttpRequest对象发送Ajax请求
   var data = {};
   let xhr1 = new XMLHttpRequest();
   xhr1.open('GET', '/users/session/1', true);
   xhr1.onreadystatechange = function() {
     if (xhr1.readyState === 4 && xhr1.status === 200) {
       data = JSON.parse(xhr1.responseText);
       console.log(data)
       let table = document.getElementById('demo1');
       let html = '';
       html += '<tr><td>' + '姓名：'+ '</td>' + '<td>' + data.data.userName + '</td></tr><br>'
       + '<tr><td>' + "所属学院："+ '</td>' + '<td>' + data.data.unit + '</td></tr><br>'
       + '<tr><td>' + "所属班级："+ '</td>' + '<td>' + data.data.className + '</td></tr><br>'
       + '<tr><td>' + "学号："+ '</td>' + '<td id="user_id">'+ data.data.userId + '</td></tr><br>';
       table.innerHTML = html;
       console.log(data.data)
       let noticeReceiver  = data.data.userId;
       console.log('user-id为' + noticeReceiver)
       let xhr2 = new XMLHttpRequest();
       xhr2.open('GET', '/notice/' + noticeReceiver, true);
       xhr2.onreadystatechange = function() {
       if (xhr2.readyState === 4 && xhr2.status === 200) {
           let data2 = JSON.parse(xhr2.responseText);
           console.log(data2)
           let table = document.getElementById('demo2');
           let html = '';
           let num = data2.data.length
           console.log(data2.data.length)
           for(let i = 0; i < num; i++){
                let id = i + 1
                html += '<tr><td><span onclick="showPopup(\'' + data2.data[i].noticeTitle + '\', \'' + data2.data[i].noticeContent + '\')" style="color: blue;">' + id + '.' + "(" + data2.data[i].noticeTitle + ")" +
                '</span></td>' + '<td>' + data2.data[i].noticeContent + '</td></tr><br>';
           }
           table.innerHTML = html;
     }
   };
   xhr2.send()
     }
   };
   xhr1.send();
    // 学生通知信息异步请求
    // 使用XMLHttpRequest对象发送Ajax请求

</script>
<script>
    let conVue = new Vue({
        el: ".con",
        methods: {
            changeEdit(row){
                if (row.listType.includes("劳动")) {
                  let reUrl = 'labour_log.html?listType='+ row.listType;
                  window.location.href = reUrl;
                } else if(row.listType.includes("登记表")){
                  let reUrl = 'SocialPracticeForm.html?listType='+ row.listType;
                  window.location.href = reUrl;
                }
                else if(row.listType.includes("活动日志")){
                  let reUrl = 'SocialPracticeJournal01.html?listType='+ row.listType;
                  window.location.href = reUrl;
                }
                else if(row.listType.includes("调查报告")){
                  let reUrl = 'practice_report.html?listType='+ row.listType;
                  window.location.href = reUrl;
                }
            },
            changeEdited(row){
                if (row.listType.includes("劳动")) {
                  let reUrl = 'labour_log_ed.html?listType='+ row.listType;
                  window.location.href = reUrl;
                } else if(row.listType.includes("登记表")){
                  let reUrl = 'SocialPracticeForm_ed.html?listType='+ row.listType;
                  window.location.href = reUrl;
                }
                else if(row.listType.includes("活动日志")){
                  let reUrl = 'SocialPracticeJournal01.html?listType='+ row.listType;
                  window.location.href = reUrl;
                }
                else if(row.listType.includes("调查报告")){
                  let reUrl = 'practice_report_ed.html?listType='+ row.listType;
                  window.location.href = reUrl;
                }
            },
            changeCheck(row){
                if (row.listType.includes("劳动")) {
                  let reUrl = 'labour_log_check.html?listType='+ row.listType;
                  window.location.href = reUrl;
                } else if(row.listType.includes("登记表")){
                  let reUrl = 'SocialPracticeForm_check.html?listType='+ row.listType;
                  window.location.href = reUrl;
                }
                else if(row.listType.includes("活动日志")){
                  let reUrl = 'SocialPracticeJournal01.html?listType='+ row.listType;
                  window.location.href = reUrl;
                }
                else if(row.listType.includes("调查报告")){
                  let reUrl = 'practice_report_check.html?listType='+ row.listType;
                  window.location.href = reUrl;
                }
            },
            filterState(value, row) {
					return row.listState === value;
				  },

        },
        mounted(){
            //当页面加载完成后来发送异步请求获取数据
            let _this = this;
            $.ajax({
               url: '/users/session/1',
               type: 'GET', // 请求类型（GET/POST等）
               dataType: 'json', // 期望的响应数据类型
               success: function(response) {
                   // 请求成功时的回调函数
                   // 处理响应数据
                   console.log(response);
                   let userId = response.data.userId;
                   axios({
                    method:"get",
                    url:"/listPlans/" + userId,
                    }).then(function (resp){
                    let num = resp.data.data.length
                    for(let i = 0; i < num; i++){
                        var date = new Date(resp.data.data[i].listTime); // 使用毫秒时间创建Date对象
                        var year = date.getFullYear(); // 年份
                        var month = date.getMonth() + 1; // 月份（注意需要加1，因为月份从0开始）
                        var day = date.getDate(); // 日期
                        // 格式化输出时间
                        var formattedTime = year + "-" + padZero(month) + "-" + padZero(day)
                        console.log(formattedTime); // 输出格式化后的时间字符串
                        // 在分钟、小时和秒钟不满两位数时，在其前面补零
                        function padZero(number) {
                            return number < 10 ? "0" + number : number;
                        }
                        resp.data.data[i].listTime = formattedTime
                        _this.tableData.push(resp.data.data[i]);
                    }
                    console.log(_this.tableData)
                    _this.tableData.map(function (val) {
                        if (val.listType == 1) {
                            val.listType = '日常生活劳动日志'
                        } else if (val.listType == 2) {
                            val.listType = '服务性劳动日志'
                        } else if (val.listType == 3) {
                            val.listType = '生产劳动日志'
                        }else if (val.listType == 4) {
                            val.listType = '社会实践活动登记表'
                        }else if (val.listType == 5) {
                            val.listType = '社会实践活动日志'
                        }else if (val.listType == 6) {
                            val.listType = '社会实践调查报告'
                        }
                    })
                     _this.tableData.map(function (val) {
                        if (val.listState == 0) {
                            val.listState = '待完成'
                        } else if (val.listState == 1) {
                            val.listState = '已通过'
                        } else if (val.listState == 2) {
                            val.listState = '打回待修改'
                        } else if (val.listState == 3) {
                            val.listState = '待评阅'
                        } else if (val.listState == 4) {
                            val.listState = '编辑中'
                        }
                    })
                  })
               },
               error: function(xhr, status, error) {
                   // 请求失败时的回调函数
                   // 处理错误
                   console.log(error);
               }
           });
        },
        data() {
            return {
                listState: [
						{label: '待完成', cssName: 'danger'},
						{label: '打回待修改', cssName: 'info'},
						{label: '待评阅', cssName: 'primary'},
						{label: '已通过', cssName: 'success'},
						{label: '编辑中', cssName: 'info'},
					],
                tableData: []
            }
        }
    })
</script>
<script>
    let userName = new Vue({
        el: "#headername",
        data(){
            return{
                user:{
                    userName:'测试',
                },
            }
        },
        mounted(){
            //当页面加载完成后来发送异步请求获取数据
            let _this = this;
            axios({
                method:"get",
                url:"/users/session/1",
            }).then(function (resp){
                _this.user = resp.data.data;
            })
        },
    })
</script>

<!--确保你能够获取到所有的通知数据，包括通知的标题、内容、类别和用户ID等。你可以通过请求后端接口或从数据库中获取数据，确保数据的数据结构如下-->
<!--<script>
    let notices = [
        {
            noticeId: 1,
            noticeTitle: "通知标题1",
            noticeContent: "通知内容1",
            noticeCategory: "类别1",
            userId: 1
        },
        {
            noticeId: 2,
            noticeTitle: "通知标题2",
            noticeContent: "通知内容2",
            noticeCategory: "类别2",
            userId: 1
        },
        // ... 其他通知数据
    ];
</script>-->


<!--实现获取最新的四条通知并增加可查看更多消息的功能-->
<!--<script>
    let table = document.getElementById('demo2');
    let html = '';
    let maxNotices = 4; // 最大显示的通知数量

    // 获取最新的四条通知数据
    let latestNotices = notices.slice(0, maxNotices);

    // 遍历最新的通知数据，生成HTML字符串
    latestNotices.forEach(function(notice, index) {
        html += '<tr><td>' + (index + 1) + ': </td><td>' + notice.noticeId + '</td></tr>'
            + '<tr><td>' + (index + 1) + ': </td><td>' + notice.noticeContent + '</td></tr>'
            + '<tr><td>' + (index + 1) + ': </td><td id="log_classes">' + notice.noticeCategory + '</td></tr>'
            + '<tr><td>' + (index + 1) + ': </td><td id="user_id">'+ notice.userId + '</td></tr><br>';
    });

    // 将生成的HTML内容插入到表格中
    table.innerHTML = html;

    // 判断是否还有更多通知供查看
    if (notices.length > maxNotices) {
        // 添加“查看更多”按钮的代码，你可以根据需求自定义该按钮的样式和行为
        let viewMoreButton = document.createElement('button');
        viewMoreButton.innerHTML = '查看更多';
        // ... 其他按钮的属性和事件设置
        // 将按钮插入到页面中的适当位置
        // ...
    }
</script>-->

</body>
</html>