<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>吉利学院劳动教育平台</title>
    <link rel="shortcut icon" href="../static/img/head2.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/task.css">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" id="headername">
<ul class="layui-nav ">
    <li class="layui-nav-item layui-this"><a href="http://localhost:63342/labour/webapp/student/head.html?_ijt=2vgpls49jtg4ro1egcrkbuei73&_ij_reload=RELOAD_ON_SAVE">首页</a></li>
</ul>
<ul class="layui-nav layui-layout-right">
    <li class="layui-nav-item">
        <a href="javascript:;">
            <img src="../static/img/head.png" class="layui-nav-img">
            {{user.user_name}}
        </a>

    </li>
    <li class="layui-nav-item"><a href="login.html">退出</a></li>
</ul>
    </div>
</div>
<br>
<br>
<br>
<br>

<div class="con">
<!--面板显示信息及通知-->
<div class="layui-bg-gray" style="padding: 16px;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header" style="font-size: larger;" >学生信息表</div>
                <div class="layui-card-body">
                     <!--需修改为从数据库提取信息-->
                    <table>
                        <tr>
                            <td>姓名：</td>
                            <td>张三</td>
                        </tr>
                        <tr>
                            <td>所在学院：</td>
                            <td>智能科技学院</td>
                        </tr>
                        <tr>
                            <td>所在班级：</td>
                            <td>2021级数据科学与大数据技术（本科）1班</td>
                        </tr>
                        <tr>
                            <td>学号：</td>
                            <td>211123110926</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header" style="font-size: larger;">系统通知</div>
                <div class="layui-card-body">
                    <!--需修改为数据库提取信息-->
                    <table>
                        <tr>
                            <td>学院的通知</td>
                        </tr>
                        <tr>
                            <td>学校的通知</td>
                        </tr>
                        <tr>
                            <td>作业截止时间为</td>
                        </tr>
                        <tr>
                            <td>你的作业为全部完成，请尽快完成</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header" style="font-size: larger;" >任务信息表</div>
            <div class="layui-card-body">
<template>
    <el-table
            :data="tableData"
            style="width: 100%"
            :default-sort = "{prop: 'date', order: 'descending'}"
            max-height="1000">
        <el-table-column
                fixed
                prop="city"
                label="性质"
                min-width="20%">
        </el-table-column>
        <el-table-column
                prop="name"
                label="任务名称"
                min-width="30%">
        </el-table-column>
        <el-table-column
                prop="province"
                label="状态"
                min-width="20%">
        </el-table-column>
        <el-table-column
                prop="date"
                label="最后的修改时间"
                sortable
                min-width="20%">
        </el-table-column>
        <el-table-column
                fixed="right"
                label="操作"
                min-width="10%">
            <template slot-scope="scope">
                <el-button v-if="scope.row.re_state === '待完成'" name="button1" @click="changeEdit(scope.row)" type="text" size="medium">编辑</el-button>
                <el-button v-if="scope.row.re_state === '待评阅'" name="button2" @click="changeCheck(scope.row)" type="text" size="medium">查看</el-button>
                <el-button v-if="scope.row.re_state === '已通过'" name="button3" @click="changeCheck(scope.row)" type="text" size="medium">查看</el-button>
                <el-button v-if="scope.row.re_state === '打回待修改'" name="button4" @click="changeEdit(scope.row)" type="text" size="medium">编辑</el-button>
            </template>
        </el-table-column>
    </el-table>
</template>
            </div>
        </div>
    </div>
</div>
</div>
<!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
<script src="../static/layui/layui.js" charset="utf-8"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/axios-0.18.0.js"></script>
<script src="../static/js/axios-0.18.0.js"></script>
<script src="../static/js/vue.js"></script>
<script src="../static/element-ui/package/lib/index.js"></script>
<link rel="stylesheet" href="../static/element-ui/package/lib/theme-chalk/index.css">
<link rel="stylesheet" type="text/css" href="../static/css/task_detail.css">

<script>
    let conVue = new Vue({
        el: ".con",
        methods: {
            changeEdit(row){
            let reUrl = 'Ledger_checkDetail.html?re_code='+ row.re_code;
    		window.open(reUrl);
            },
            changeCheck(row){
            let reUrl = 'Ledger_checkDetail.html?re_code='+ row.re_code;
    		window.open(reUrl);
            },
        },
        data() {
            return {
                tableData: [{
                    date: '2016-05-03',
                    name: '劳动日志',
                    province: '状态',
                    city: '统一',

                }, {
                    date: '2016-05-02',
                    name: '劳动日志',
                    province: '状态',
                    city: '统一',

                }, {
                    date: '2016-05-04',
                    name: '劳动日志',
                    province: '状态',
                    city: '统一',

                }, {
                    date: '2016-05-01',
                    name: '劳动日志',
                    province: '状态',
                    city: '统一',


                }, {
                    date: '2016-05-08',
                    name: '劳动日志',
                    province: '状态',
                    city: '统一',


                }, {
                    date: '2016-05-06',
                    name: '劳动日志',
                    province: '状态',
                    city: '统一',


                }, {
                    date: '2016-05-07',
                    name: '劳动日志',
                    province: '状态',
                    city: '统一',

                }]
            }
        }
    })
</script>
<script>
    let userName = new Vue({
        el: "#headername",
        data(){
            return{
                user:{
                    user_name:'测试',
                },
            }
        },
        mounted(){
            //当页面加载完成后来发送异步请求获取数据
            var _this = this;
            axios({
                method:"get",
                url:"user/usersession",
            }).then(function (resp){
                _this.user = resp.data;
                console.log(user)
            })
        },
    })
</script>
</body>
</html>